<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", welcome_index_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
      <li><%= link_to "All Wikis", wikis_path %></li>
      <li><%= link_to "My Wikis", user_wikis_path %></li>
      <li><%= link_to "New Wiki", new_wiki_path %></li>
      <div class="pull-right" style="margin-top:10px;">
        <!-- User sign in or out tab functions -->
        <% if user_signed_in? %>
          Signed in as: <strong><%= current_user.email %></strong> |
          <strong><%= current_user.role.capitalize %> Account |
            <% if current_user.free? %>
              <%= link_to 'Upgrade Account', new_charge_path %> |
            <% end %>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
    </ul>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% end %>
    </div>

<%= yield %>
  </div>

</body>
</html>
